- const title = "Poznaj nas";

doctype html
html( lang="pl" )
	include elements/head.pug

	body
		include elements/menu-drop.pug

		.container-fluid.bg
			include elements/nav.pug

			.main-min-height
				.row.header.my-5
					h1 #{title}

				section.about
					//- Prezydent
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/prezydent.png); background-position: center;"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/prezydent.md

					//- Wiceprezydent
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/wiceprezydent.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/wiceprezydent.md

					//- Sekretarz
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/sekretarz.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/sekretarz.md

					//- Przewodniczący sekcji organizacyjnej
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/pso.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/pso.md

					//- Przewodniczący sekcji plastyczno-promocyjnej
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/pspp.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/pspp.md

					//- Przewodniczący sekcji wolontaryjno-charytatywnej
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/pswc.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/pswc.md

					//- Przewodniczący sekcji dziennikarskiej
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/psd.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/psd.md

					//- Twórca strony
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/tworca.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/tworca.md

					//- Fotograf i grafik
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/fg.png); background-size: 50%;"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/fg.md

					//- Grafik i montażysta
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/gm.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/gm.md

					//- Opiekun samorządu
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/opiekun1.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/opiekun1.md

					//- Opiekun samorządu
					.row.m-lg-5.mb-4
						.col-sm-12.col-xl-6
							.img.rounded(
								style="background-image: url(/img/descriptions/opiekun2.png);"
							)
						.col-sm-12.col-xl-6
							.text
								include:markdown-it ../content/descriptions/opiekun2.md

			include elements/footer.pug

	include elements/scripts.pug