- const title = `Blog - ${contentType}`;

doctype html
html( lang="pl" )
	include ../elements/head.pug

	body
		include ../elements/menu-drop.pug

		.container-fluid.bg
			include ../elements/nav.pug

			.main-min-height
				.m-4
					h1.blogH1 #{contentType}

				.content-list
					each item, index in content
						.element
							a( href=`/blog/${type}/${content.length - index}` )
								.content
									.image(
										style=`background-image: url(/img/blog/thumbnails/${item.thumbnail});`
									)

									.card-body
										h4= item.title

										p Autor: #{item.author}

										- const itemTags = item.tags.map(tag => "#" + tag.replace(/\s/g, "-")).join(" ");
										p #{itemTags}

					else
						.col-12.font-weight-bold.text-center
							.display-1 Coś tu pusto...

			include ../elements/footer.pug

		include ../elements/scripts.pug