- const title = content.title
- const tags = content.tags.map(tag => "#" + tag.replace(/\s/g, "-")).join(" ");

doctype html
html( lang="pl" )
	include ../elements/head.pug

	body
		include ../elements/menu-drop.pug

		.container-fluid
			include ../elements/nav.pug

			.main-min-height.blog-content-wrapper
				.title #{content.title}

				.authorWrapper
					img( src=`/img/blog/authors/${content.authorAvatar}` )
					p #{content.author}

				.tags
					p #{tags}

				.content-wrapper !{body}

			include ../elements/footer.pug

	include ../elements/scripts.pug