- const title = `Blog - ${contentType}`;

doctype html
html( lang="pl" )
	include ../elements/head.pug

	body
		include ../elements/menu-drop.pug

		.container-fluid.bg
			include ../elements/nav.pug

			.main-min-height
				.m-4
					h1.blogH1 #{contentType}

				.content-list
					each item, index in content
						.element
							a( href=`/blog/${type}/${content.length - index}` )
								.content
									.image(
										style=`background-image: url(/img/blog/thumbnails/${item.thumbnail});`
									)

									.card-body
										h4= item.title
										if item.authors.length == 1
											p Autor: #{item.authors[0].name}
										else
											p Autorzy: #{item.authors.map(item => item.name).join(", ")}

					else
						.col-12.font-weight-bold.text-center
							.display-1 Coś tu pusto...

			include ../elements/footer.pug

		include ../elements/scripts.pug